
    <table class="table custom-table">
      <thead>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>poste</th>
          <th>numero</th>
          <th>age</th>
          <th>description</th>
          <th>Actions</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let p of players'>
         <td>{{p._id}}</td>
         <td>{{p.name}}</td>
         <td>{{p.poste}}</td>
         <td>{{p.numero}}</td>
         <td>{{p.age}}</td>
         <td>{{p.description}}</td>
         <td>
         <button  class='btn btn-success' (click)="goToPlayer(p.id)">display</button>
         <button  class='btn btn-info' (click)="editPlayer(p.id)">edit</button>
         <button  class='btn btn-danger' (click)="deletePlayer(p.id)">delete</button>
     </td>
 
 
        
        </tr>
        </tbody>