
    <div class="post-entry">
    <a href="#">
    
    </a>
    <div class="caption">
    <div class="caption-inner">
    <h3 class="mb-3">
             
             
             
    </h3>
    <div class="author d-flex align-items-center">
    <div class="img mb-2 mr-3">
    <img src="assets/images/img_3.jpg" alt="">
    </div>
    <div class="text">
    <h4> name: {{player.name}}</h4>
        
     <h4> number :{{player.number}}</h4>  
     <h4> age :{{player.age}}</h4>   

    
    <span>description :{{player.description}}</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    







    




